@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER_QISMI */

.nav_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav_list {
    display: flex;
    gap: 15px;
}

.nav_link,
.footer_link {
    font-weight: 700;
    font-size: 18px;
    color: rgba(58, 56, 56, 1);
    transition: 0.5s;
}

.nav_link:hover,
.footer_link:hover {
    color: rgba(239, 68, 35, 1);
}

.intro_img{
    display: block;
}
/* MAIN_QISMI */

.news {
    display: flex;
    margin-top: 40px;
}

.text_wrapper{
    padding: 8px 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.news_box {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    height: auto;
}

.title_news {
    font-weight: 700;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
}

.text_news {
    font-weight: 400;
    font-size: 16px;
    color: rgba(235, 235, 235, 1);
}

.news .news_box:nth-child(1) {
    background: rgba(183, 28, 28, 1);
}

.news .news_box:nth-child(2) {
    background: rgba(106, 27, 154, 1);
}

.news .news_box:nth-child(3) {
    background: rgba(48, 63, 159, 1);
}

.news .news_box:nth-child(4) {
    background: rgba(0, 105, 92, 1);
}

/* ABOUT_QISMI */
.section {
    background: rgba(237, 237, 237, 1);
}

.title_about {
    font-weight: 700;
    font-size: 22px;
    color: rgba(58, 56, 56, 1);
    background-color: white;
    text-align: center;
    padding: 40px 0px;
}

.title_box {
    font-weight: 700;
    font-size: 22px;
    color: rgba(58, 56, 56, 1);
}

.text_box {
    font-weight: 400;
    font-size: 18px;
    color: rgba(104, 104, 104, 1);

}


.section_box {
    display: flex;
    gap: 30px;
}

.box_about {
    display: flex;
    flex-direction: column;
    gap: 30px;
   padding: 20px 0;
}

/* FOOTER_QISMI */

.footer {
    background: rgba(58, 56, 56, 1);
    margin-top: 50px;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer_link {
    color: rgb(255, 255, 255);
}